/* GENERAL */
.tableau-contenair{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left-column center-column right-column";
    width: auto;
    margin: auto;
  }

  
/* LEFT COLUMN */
.left-column{
    width: 50px;
    margin: 500px;
    grid-area: left-column;
    display: grid;
    grid-template-rows: 100px 1fr;
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    padding: 100px;
    background-color: #7B7D7D;
    color: white;
  }

  .h2{
    margin: 0 0 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}


/* CENTER COLUMN */
.center-column{
    position: relative;
    width: 50px;
    margin: 500px;
    grid-area: center-column;
    display: grid;
    grid-template-rows: 250px 1fr;
    margin-left: 250px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 200px;
    background-color: #B3B6B7;
    color: white;
  }

  /* RIGHT COLUMN */
  .right-column{
    width: 50px;
    margin: 500px;
    grid-area: right-column;
    display: grid;
    grid-template-rows: 350px 1fr;
    margin-left: 700px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 100px;
    background-color: #979A9A;
    color: white;
  }
  
